body {
    background: linear-gradient(0deg, #0E21A0, #fff);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.title-1 {
    text-align: center;
}

.title-1 h1 {
    color: #FFf;
    font-size: 80px;
    font-family: initial;
    font-weight: bold;
}

.shine {
    font-size: 50px;
    color: #fff;
    position: relative;
    animation: shine 1s infinite;
    border-radius: 100px;
}

@keyframes shine {
    0% {
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), #F5F5DC);
        background-size: 2000% 1000%;
        background-position: 100% 0;
    }
    50% {
        background-position: -200% 0;
    }
     100% {
        background-position: -500% 0;
    }
 
}


.title-1 p {
    font-size: 40px;
    font-weight: bold;
    font-family: initial;
    margin: 10px 0;
    color: white;
}

.animated-text {
    font-size: 24px;
    color: #fff;
    animation: lightBlink 2s linear infinite;
}

@keyframes lightBlink {
    0%, 100% {
        color: #fff;
    }
    25% {
        color: #191D88; 
    }
    50% {
        color: #FFC436; 
    }
    75% {
        color: #C70039; 
    }
     150% {
        color: #fff; 
    }
}

/* Style the button link */
.btn {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    border: 0.1px solid #007bff; 
    border-radius: 2px; 
    background-color: #007bff; 
    color: #fff; 
    font-weight: bold;
    font-family: initial;
    transition: background-color 0.4s, color 0.4s; 

    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
}

